{% extends "layout.html" %} {% block mainBlock %}
<body class="projects-page">
  <h1>Projects</h1>
  <div class="grid-container">
    <div class="project-card">
        <a href="https://github.com/HabadOlad/Hab-blog" target="_blank">
        <img src="{{ url_for('static', filename='css/assets/photos/blogimage.png') }}" alt="Blogpost manager module">
        </a>
        <h3>Blogpost manager module</h3>
        <p>A rapid way to add a blogging system to your website! </p>
        <div class="subheaders">
          <span>Python</span>
          <span>Blogging</span>
          <span>Modules</span>
          <span>Writing</span>
          <span>Fun</span>
        </div>
    </div>

    <div class="project-card">
        <img src=" " alt="StopSnoringML">
        <p>An arduino device that records my snoring at night, and then we do some data science on it!          </p>
         <h3>StopSnoringML</h3>
        <div class="subheaders">
          <span>Machine learning</span>
          <span>Python</span>
          <span>Data & analytics</span>
          <span>Fun</span>
        </div>
    </div>
  
    <div class="project-card">
      <a href="https://habadolad.com/zork.html" target="_blank">
      <img src="{{ url_for('static', filename='css/assets/photos/zorkimage.png') }}" alt="Zork!">
      </a>
      <h3>ZORK!</h3>
      <p>My interactive fiction game!</p>
      <div class="subheaders">
        <span>Fun</span>
        <span>Writing</span>
        <span>Javascript</span>
        <span>Games</span>
      </div>
  </div>
  
  <div class="project-card">
    <a href="https://habadolad.com/QuoteGenerator.html"  target="_blank">
    <img src="{{ url_for('static', filename='css/assets/photos/quoteimage.png') }}" alt=" QuoteGenerator">
    </a>
    <h3>Quote generator!</h3>
    <p>A cool little quote generator for when you're going through tough times!!</p>
    <div class="subheaders">
      <span>Javascript</span>
      <span>Fun</span>
      <span>Writing</span>
      <span>Games</span>
    </div>
</div>

  
    
  <footer id="footer"></footer>
  <script src="/static/js/firstWebsiteJS.js" type="text/javascript"></script>
  {% endblock %}
</body>
